.title {
    position: relative;
    left: 20vw;
    top: 50vh;
    color: white;
    font-family: Impact, sans-serif;
    color: #fff;
    text-shadow: #000 0px 0px 6px;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}
.jimmies {
    position: absolute;
    height: 100%;
    top: 47%;
    z-index: -1;
}
.button {
    font-size: 20px;
}

.share-section {
    display: flex;
}

.info-text {
    margin-left: 20px;
    color: white;
}

body {
    background: black;
    overflow-y: hidden;
    font-family: Consolas,monaco,monospace;
}

a {
    color: #84bcff;
}

.share-text {
   width: 500px;
}